@{
    ViewBag.Title = "Mai Linh Car Booking";
    Layout = null;

    @model ML.CarBooking.Models.Accounts.LoginModel
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .department :hover {
            background-color: lightgrey;
            cursor: pointer;
        }
    </style>

    <title>Mai Linh</title>

</head>
<body ng-app="mainApp">
    <!-- Page Wrapper -->
    <div ng-controller="mainController as vm" id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav ml-bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">
            <li>
                <div class="mb-5"></div>
            </li>
            <!-- Sidebar - Brand -->
            <li>
                <a class="sidebar-brand d-flex align-items-center justify-content-center" ui-sref="dashboard">
                    <div class="sidebar-brand-text mx-3">
                        <img src="~/Content/Images/Logo_MLXCT.jpg" class="circle-img img_halfsize">
                    </div>
                </a>
            </li>

            <!-- Divider -->
            @*<hr class="sidebar-divider my-0">*@

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link txt-center" ui-sref="dashboard" style="cursor:auto">
                    @*<i class="fas fa-fw fa-tachometer-alt"></i>*@
                    <span>CÔNG TY TNHH XE CHO THUÊ MAI LINH</span>
                </a>
                <!-- Divider -->
                <hr class="sidebar-divider">
            </li>


            <!-- Heading -->
            <li>
                <div class="sidebar-heading" ng-if='isAdmin'>
                    Administration
                </div>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" ng-click="gotoPermission()" ng-if="isAdmin">
                    <i class="fas fa-fw fa-cog"></i>
                    Phân Quyền Hệ Thống
                </a>
                <a class="nav-link" ng-click="gotoRoles()" ng-if="isAdmin">
                    <i class="fas fa-fw fa-user"></i>
                    Quản Lý Roles
                </a>
                <div class="sidebar-heading">
                    Các Phòng Ban
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapsePagesHR" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Phòng Nhân Sự</span>
                </a>
                <div id="collapsePagesHR" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" ng-click="vm.gotoEmployees()">Quản Lý Nhân Sự</a>
                    </div>
                </div>
            </li>

            @*<li class="nav-item">
                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapsePagesSEO" aria-expanded="true" aria-controls="collapsePages">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Điều Hành - Kinh Doanh</span>
                    </a>
                    <div id="collapsePagesSEO" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">

                            <a class="collapse-item">Module Nghiệp vụ 1</a>
                            <a class="collapse-item">Module Nghiệp Vụ 2</a>
                            <div class="collapse-divider"></div>
                            <a class="collapse-item">Module Nghiệp Vụ 4</a>
                            <a class="collapse-item">Module Nghiệp vụ 5</a>
                        </div>
                    </div>
                </li>*@

            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapsePagesTECH" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Kỹ Thuật - An Toàn</span>
                </a>
                <div id="collapsePagesTECH" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" ng-click="vm.gotoVehicleManagement()">Quản Lý Phương Tiện</a>
                        @*<a class="collapse-item">Module Nghiệp Vụ 2</a>
                            <div class="collapse-divider"></div>
                            <a class="collapse-item">Module Nghiệp Vụ 4</a>
                            <a class="collapse-item">Module Nghiệp vụ 5</a>*@
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapsePagesACC" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-dollar-sign"></i>
                    <span>Kế Toán</span>
                </a>
                <div id="collapsePagesACC" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item">Module Nghiệp vụ 1</a>
                        <a class="collapse-item">Module Nghiệp Vụ 2</a>
                        <div class="collapse-divider"></div>
                        <a class="collapse-item">Module Nghiệp Vụ 4</a>
                        <a class="collapse-item">Module Nghiệp vụ 5</a>
                    </div>
                </div>
            </li>

        </ul>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    @*<ul class="navbar-nav navbar-expand-lg">
                            <li class="nav-item txt-center">
                                <a class="nav-link">
                                    <img class="img-profile rounded-circle" src="~/Content/Images/no_avatar.png" style="height:50px;">
                                    <div class="ml-2">
                                        <span class="mr-2 d-none d-lg-inline small txt-left">
                                            Chuyên viên hỗ trợ, tư vấn dành cho nhà tuyển dụng
                                        </span>
                                        <br />
                                        <span class="mr-2 d-none d-lg-inline text-black-50 small">
                                            Ms Hoàng Dung
                                            <i class="fas fa-fw fa-phone"></i>0902 867 167
                                            <i class="fas fa-fw fa-envelope"></i>dung.dang@mywork.com.vn
                                        </span>
                                    </div>
                                </a>
                            </li>
                        </ul>*@
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        @*<li class="nav-item txt-center m-3">
                                <a style="display: grid;">
                                    <i class="fas fa-fw fa-home"></i>
                                    <span>Trang chủ</span>
                                </a>
                            </li>

                            <li class="nav-item txt-center m-3">
                                <a style="display: grid;">
                                    <i class="fas fa-fw fa-briefcase"></i>
                                    <span>Tuyển dụng</span>
                                </a>
                            </li>

                            <li class="nav-item txt-center m-3">
                                <a style="display: grid;">
                                    <i class="fas fa-fw fa-id-card-alt"></i>
                                    <span>Ứng viên</span>
                                </a>
                            </li>

                            <li class="nav-item txt-center m-3">
                                <a style="display: grid;">
                                    <i class="fas fa-fw fa-envelope-open-text"></i>
                                    <span>Bảng giá</span>
                                </a>
                            </li>*@

                        <li class="nav-item txt-center">
                            <div class="mt-3 topbar-divider d-none d-sm-block"></div>
                            @*<i class="fas fa-fw fa-bell ico-only"></i>*@
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle" src="~/Content/Images/avatar.jpg">
                                <div class="ml-2">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Model.UserName</span> <br />
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Administrator</span>
                                </div>
                                @*<i class="fas fa-sign-out-alt fa-sm fa-fw  ico-only"></i>*@
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Thông Tin Cá Nhân
                                </a>
                                <a class="dropdown-item">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đổi Mật Khẩu
                                </a>
                                <a class="dropdown-item">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Xem Log Cá Nhân
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng Xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div ui-view class="container-fluid" style="height:100vh;"></div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn muốn thoát khỏi hệ thống ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Nhấn vào Logout để thoát</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input type="button" class="btn btn-primary" value="Đăng Xuất" onclick="window.location.href='<%= Url.Action(" Login", "Home" ) %>';" />
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularJS")
    @Scripts.Render("~/bundles/CustomScripts")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script type="text/javascript" src="~/AngularModules/MainApp.js"></script>
    <script type="text/javascript" src="~/AngularModules/mainApp.routes.js"></script>

    <script type="text/javascript" src="~/AngularModules/HrModules/employeesController.js"></script>
    <script type="text/javascript" src="~/AngularModules/HrModules/editEmployeeController.js"></script>
    <script type="text/javascript" src="~/AngularModules/HrModules/healthCheckManagementController.js"></script>
    <script type="text/javascript" src="~/AngularModules/HrModules/workingHistoriesController.js"></script>

    <script type="text/javascript" src="~/AngularModules/Vehicle/vehicleManagementController.js"></script>
    <script type="text/javascript" src="~/AngularModules/Vehicle/editVehicleController.js"></script>



</body>
</html>
